############################
# Helm
############################
*.tgz
charts/
Chart.lock

############################
# Python
############################
__pycache__/
*.pyc
*.pyo
*.pyd

############################
# Node / Frontend
############################
node_modules/
dist/
.build/
.next/

############################
# Environment & Secrets
############################
.env
.env.*
*.secret
*.key
*.crt

############################
# Vault
############################
vault-data/
.vault-token

############################
# CI/CD
############################
jenkins_home/
*.log

############################
# Kubernetes
############################
kubeconfig
.kube/
k8s/

############################
# IDE / OS
############################
.vscode/
.idea/
.DS_Store
Thumbs.db

# Python virtualenv
.venv/
*/.venv/

# Pytest cache
.pytest_cache/

# Python cache
__pycache__/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/terraform.tfvars

# OS
.DS_Store
