apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: titi92390/fastapi-gateway:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: USERS_SERVICE_URL
          value: http://users:8000
        - name: ITEMS_SERVICE_URL
          value: http://items:8000
        - name: AUTH_SERVICE_URL
          value: http://auth:8000
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
spec:
  selector:
    app: gateway
  type: NodePort
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30080
