apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-auth
  namespace: fastapi
spec:
  stripPrefix:
    prefixes:
      - /auth

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-users
  namespace: fastapi
spec:
  stripPrefix:
    prefixes:
      - /users

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-items
  namespace: fastapi
spec:
  stripPrefix:
    prefixes:
      - /items
