apiVersion: v1
kind: Service
metadata:
  name: {{ include "items.fullname" . }}
  labels:
    {{ include "items.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "items.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
