{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "auth.fullname" . }}
  labels:
    {{ include "auth.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
    - host: api.leotest.abrdns.com
      http:
        paths:
          - path: {{ .Values.ingress.path }}
            pathType: Prefix
            backend:
              service:
                name: {{ include "auth.fullname" . }}
                port:
                  number: 80
{{- end }}
